In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go

# Load Data

In [2]:
district_emp = pd.read_csv('district_emp_data_full.csv')
district_emp = district_emp.replace(
    {'Jharkhand ': 'Jharkhand',
     'Maharashtra ': 'Maharashtra',
     'Orissa': 'Odisha',
     'Telangana ': 'Telangana'
    }
)
district_emp.head()

,State/UT Name,District Name,Total Coal mining jobs (Direct + Indirect Jobs),Total Power plant jobs (Direct + Indirect Jobs),Total Coal Jobs (Direct + Indirect),Total Pensioners,DMF USD (in Million $),Mining CSR (in lakhs),CSR Power Plant CSR (in lakhs),CSR total (in lakhs),CSR ( in cr),CSR USD (in Million $)
0,Jharkhand,Dhanbad,489394.0,4508.0,493901,70301,37,6688.14,0.00,6688.14,66.8814,9.363396
1,Chhattisgarh,Korba,363591.0,23397.0,386988,14861,62,111.81,954.75,1066.56,10.6656,1.493184
2,West Bengal,Paschim Bardhaman,273408.0,4848.0,278256,65447,1,554.61,0.00,554.61,5.5461,0.776454
3,Jharkhand,Chatra,226763.0,0.0,226763,1996,15,671.49,0.00,671.49,6.7149,0.940086
4,Odisha,Angul,175229.0,18909.0,194139,6613,47,11975.64,1180.00,13155.64,131.5564,18.417896

In [3]:
# https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/TDEK8O&version=1.0
pai_coal_mines = pd.read_csv('pai_coal_mines.csv')
pai_coal_mines = pai_coal_mines.replace(
    {'Jharkhand ': 'Jharkhand',
     'Maharashtra ': 'Maharashtra',
     'Orissa': 'Odisha',
     'Telangana ': 'Telangana'
    }
)
pai_coal_mines.head()

,SL No.,State/UT Name,District Name,Mine Name,Coal/ Lignite Production (MT) (2019-2020),Coal Mine Owner Name,Coal/Lignite,Govt Owned/Private,Type of Mine (OC/UG/Mixed),Latitude,Longitude,Source,Accuracy (exact vs approximate),Unnamed: 13
0,1,West Bengal,Paschim Bardhaman,Ningah Colliery,0.01,ECL,Coal,G,UG,23.6743,87.0333,Google Maps: https://www.google.com/maps/place...,Exact,NaN
1,2,West Bengal,Paschim Bardhaman,Jhanjhara Project Colly,3.50,ECL,Coal,G,UG,23.6680,87.2963,Google Maps: https://www.google.ca/maps/place/...,Exact,NaN
2,3,West Bengal,Paschim Bardhaman,MAOHUSUDANPUR 7 PIT &\nINCLINE,0.04,ECL,Coal,G,UG,23.6338,87.2037,Google Maps: https://www.google.com/maps/place...,Approximate: Madhusudanpur Colliery Agent Office,NaN
3,4,West Bengal,Paschim Bardhaman,PARASCOLE(EAST),0.10,ECL,Coal,G,UG,23.6377,87.1951,Google Maps: https://www.google.com/maps/place...,Approximate: center coordinates of eastern Par...,NaN
4,5,West Bengal,Paschim Bardhaman,PARASCOLE(WEST),0.07,ECL,Coal,G,UG,23.6405,87.1855,Google Maps: https://www.google.com/maps/place...,Approximate: center coordinates of western Par...,NaN

In [8]:
plants = pd.read_csv("Global-Coal-Plant-Tracker-Jan-2022.csv", encoding="ISO-8859-1")
plants = plants[plants['Country'] == 'India']
plants = plants[plants['Latitude'].isna() == False]
plants = plants[plants['Longitude'].isna() == False]
plants = plants[plants['Status'].isin(['operating'])] 
plants = plants.drop_duplicates('ParentID')
plants = plants[['Plant', 'Subnational unit (province, state)', 'Status', 'Latitude', 'Longitude', 
                 'Capacity (MW)', 'Annual CO2 (million tonnes / annum)', 'Year']]
plants = plants.rename(columns={'Subnational unit (province, state)': 'State', 'Year': 'Plant Age'})
plants['Capacity (MW)'] = plants['Capacity (MW)'].astype(float)
plants['Plant Age'] = plants['Plant Age'].apply(lambda x: 2021 - float(x))
plants = plants.replace(
    {'Madhya Pradesh / Uttar Pradesh': 'Madhya Pradesh',
     'Punjab state': 'Punjab',
     'Uttar Pradesh / Madhya Pradesh': 'Uttar Pradesh'
    }
)
plants.head()

,Plant,State,Status,Latitude,Longitude,Capacity (MW),Annual CO2 (million tonnes / annum),Plant Age
508,Balaji Cement power station,Andhra Pradesh,operating,16.283333,81.216667,35.0,0.2,12.0
509,Bander power station,Andhra Pradesh,operating,14.351195,80.143086,660.0,2.5,6.0
511,Bhadradri power station,Telangana,operating,18.027488,80.735645,270.0,1.3,1.0
515,Dr Narla Tata Rao power station,Andhra Pradesh,operating,16.598490,80.536585,210.0,1.2,42.0
522,East Godavari Mill power station,Andhra Pradesh,operating,17.300117,82.614386,34.0,0.2,15.0

In [9]:
mines = pd.read_csv("June 2021 Global Coal Mine Tracker.csv", encoding="ISO-8859-1")
mines = mines[mines['Country'] == 'India']
mines = mines[mines['Status'] == 'Operating'] # 'Proposed'
mines = mines[mines['Latitude'].isna() == False]
mines = mines[mines['Longitude'].isna() == False]
mines = mines.drop_duplicates('Mine ID') 
mines = mines[['Mine Name', 'Status', 'Status Detail', 'State, Province', 'Coal Output (Annual, Mt)', 'Mine Type', 
               'Latitude', 'Longitude', 'Opening Year']]
mines = mines[mines['Opening Year'] != 'TBD']
mines['Mine Age'] = mines['Opening Year'].apply(lambda x: 2021 - float(x))
mines = mines.drop(columns=['Opening Year'])
mines = mines.replace(
    {'Madhya Pradesh / Uttar Pradesh': 'Madhya Pradesh',
     'Punjab state': 'Punjab',
     'Uttar Pradesh / Madhya Pradesh': 'Uttar Pradesh'
    }
)
mines.head()

,Mine Name,Status,Status Detail,"State, Province","Coal Output (Annual, Mt)",Mine Type,Latitude,Longitude,Mine Age
9,Adriyala Coal Mine,Operating,NaN,Telangana,2.1,Underground,18.6648,79.5790,NaN
17,AKK Coal Mine,Operating,NaN,Jharkhand,4.5,Surface,23.7905,85.9198,NaN
25,Amadand Coal Mine,Operating,NaN,Madhya Pradesh,1.6,Surface,23.1436,82.0579,NaN
26,Amalgamated Keshalpur-West Mudidih (AKWMC) Coa...,Operating,NaN,Jharkhand,4.2,Underground & Surface,23.8078,86.3221,NaN
32,Amelia North Coal Mine,Operating,NaN,Madhya Pradesh,2.8,Surface,24.1346,82.4264,NaN

# Missingness

States missing from Pai Data

In [10]:
set(plants['State']).union(set(mines['State, Province'])) - set(district_emp['State/UT Name'])

set()

In [11]:
set(mines['State, Province']) - set(pai_coal_mines['State/UT Name'])

set()

States missing from GEM data

In [12]:
set(district_emp['State/UT Name']) - set(plants['State']).union(set(mines['State, Province']))

{'Assam', 'Delhi', 'Kerala', 'Meghalaya', 'Puducherry', 'Uttarakhand', nan}

In [13]:
set(pai_coal_mines['State/UT Name']) - set(mines['State, Province'])

{'Assam'}

In [ ]:
# Nearly 80% of these coal jobs are linked to coal mining sector located in 51 districts. 
# The rest 20% coal jobs are linked to the power plant jobs, which are located in 141 districts 
# (some of which are also included in the coal mining district number above).

In [ ]:
# Out of the 159 districts where coal jobs exist, there are 7 districts with over 100,000 direct and
# indirect coal mining and coal power plant jobs. Moreover, 43 districts (including the 7 mentioned
# above) have over 10,000 jobs (Figure 5.6). Eighty-three districts have between 10,000 and 1000
# jobs. The remaining 33 districts have less than 1000 jobs.

In [ ]:
# Out of the 284 coal dependent districts in India, 33 fall within the top 10% of one or more
# indicators: district level coal jobs per capita; district level pensioners per capita; district level
# DMF per capita; and, and district level CSR per capita

In [ ]:
# Therefore, the 33 key coal dependent districts are the areas where policymakers 
# could focus their just transition planning efforts

In [ ]:
# Overall, the results show that the top districts for one indicator may not always be the top
# districts for other indicators. Some districts are more heavily dependent on jobs, while others
# have large numbers of pensioners or depend more on DMF contributions or CSR spending. This
# is particularly interesting as it indicates that just transition interventions in these top 33 coal
# dependent districts must be tailored to the different types of dependency and the related
# transition supports needed.

In [ ]:
# keep high, combine mid + low as mid, and third scenario is none as low

In [ ]:
# Moreover, there are nearly half a million coal industry pensioners in India living in 199 districts.
# This study also finds that the coal industry collectively contributed Rs 3346 crore (480 million
# US$) towards district mineral funds in 52 districts in India

In [ ]:
# In the year 2019-2020, coal mining
# and power companies also spent Rs 1011 crores (144 million US$) as CSR spending in sectors
# such as health, education and infrastructure development

In [ ]:
# Of the 33 districts that fall within the top 10% for one or more indicator, 9 are in the state of
# Jharkhand, 7 in the state of Madhya Pradesh, 5 each in the states of Telangana and Odisha, 4 in
# the state of Chhattisgarh, and 1 each in the states of Uttar Pradesh, Tamil Nadu, and West
# Bengal.